<h1>New Product</h1>
<ul>
  <% @products.each do |product| %>
    <li><%= product.title %></li>
    <p><%= product.description%></p>
    <%= link_to 'Edit', edit_product_path(product) %> |
    <%= link_to 'Delete', soft_delete_product_path(product) %> |

  <% end %>
</ul>
<form action="/products" method="get">
  <input type="text" name="title" placeholder="nice product">
    <input type="text" name="description" placeholder="Awesome description">
  <input type="submit">
</form>