<h1>New Product</h1>
<form action="/products" method="get">
  <input type="text" name="title" placeholder="nice product">
    <input type="text" name="description" placeholder="Awesome description">
  <input type="submit">
</form>